#mainTitle{ 
	text-align: center;
	font-size: 4em;
	color: white;
	font-family: calibri;
}

body{
	background-color: #000000;
}

#cat{
	width: 45%;
	position: relative;
	margin-top: -3%;
	padding-bottom: 4em;
}

#neko{
	position: relative;
	margin-top: -3%;
	width: 10%;
}

#kek{
	color: gray;
	position: relative;
	left: -4em;
	top: -6em;
}
